<template name="categoryCreate">
<a data-target="modal2" class="btn-floating btn-large waves-effect waves-light blue halfway-fab modal-trigger ">
  <i class="material-icons">add</i>
</a>
<!-- Modal Category -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <li>
      <form class="category-add">
        <h2 class="modal-header">Create Category</h2>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="submit" name="submit" class="btn" value="Add new link">
      </form>
    </li>
  </div>
</div>
</template>
